src/main/app/weather-service-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
    <flow name="getCitiesByCountry-flow">
        <mulexml:xslt-transformer xsl-file="xslt/getCitiesByCountry.xsl" maxIdleTransformers="2" maxActiveTransformers="5" doc:name="XSLT">
            <mulexml:context-property key="today" value="#[server.dateTime]"/>
        </mulexml:xslt-transformer>
    </flow>
    <flow name="getWeather-flow">
        <parse-template location="tmpl/getWeatherResponse.tpl" doc:name="Parse Response"/>
    </flow>
</mule>
